/* div that contain text area and button (MainTours*/

@media (max-width: 785px) {
  #dotsIcon {
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 785px) and (max-width: 1000px) {
  /*tablet*/
}

@media (min-width: 1000px) {
  #dotsIcon {
    display: none;
  }

  .nav-mobile {
    width: 100%;
    height: 15vh;
  }
  .nav-mobile a {
    font-weight: 700;
    font-size: 30px;
  }
  .placeName {
    font-size: 40px;
    margin-top: 6%;
    width: 85%;
    text-align: center;
   }
  }
/* grid general*/
.mainDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  justify-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.mainContainer {
 background-color: #FFEEDD;
}
/* nav*/
.chat-header {
  height: 100%;
  width: 100%;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  background-size: cover;
  align-items: stretch;
  justify-content: space-around;
}
/* sobre chat zone*/
#infOnPC{
  grid-column: 1;
  grid-row: 1;
}
.img-place{
  width: 90%;
  margin-left: 4%;
  border-radius: 5%;
  margin-top: 7%;
}
.placeName {
  grid-column: 1;
  grid-row: 2;
 }
.descrip-IndividualChat{
  grid-column: 1;
  grid-row: 2 / 3;
  margin-top: 28%;
}

.aiInteractions {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  width: 90%;
  margin-top: 12%;
}

.aiInteractions textarea {
  width: 96%;
  resize: vertical;
  height: 75%;
  align-items: end;
  background-color: #D9D9D9;
  border: none;
  border-radius: 5%;
  padding: 1%;
  margin-left: -6%;
}

.aiInteractions textarea::placeholder {
  color: #999;
}

.btn-sendMsj {
  background-color: #ffffff;
  width: 6%;
  height: 56%;
  border: none;
  margin-left: 1.5%;
}

.btn-sendMsj img {
  width: 100%;
  height: 100%;
  background-color: #FFEEDD;
}
/* div that contain cloud zone (MainTours*/
.cloud-zone {
  grid-row: 1;
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: inherit;
  justify-items: center;
  margin-top: 1%;
  width: 100%;
  height: 100%;
  margin-right: 3%;
}

.cloud-zone li {
  background-color: #0791BE;
  height: 7%;
  padding: 6%;
  width: 75%;
  clip-path: ellipse(50% 91% at 50% 50%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
/* div that contain chat zone (MainTours*/
.chat-zone {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  min-width: 250px;
  width: 90%;
  min-height: 83%;
  height: auto;
  background-color: #86AFEC;
  margin-top: 10%;
  margin-right: 3%;
  border-radius: 5px;
  padding: 4%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 18px;

  scrollbar-width: thin; 
  scrollbar-color: #4467a059 #0f375a3d;
}

.enterResponse {
  height: auto;
  text-align: justify;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 30%;
  min-width: fit-content;
  background-color: #F56960;
  min-height: fit-content;
  padding: 1%;
  border-radius: 19px;
  align-self: self-start;
  color: #fff;
  margin-right: 30%;
}

.enterMessage {
  height: auto;
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  background-color: #FFFFFF;
  min-height: fit-content;
  padding: 1%;
  border-radius: 19px;
  align-self: self-end;
  color: #F56960;
  margin: 1%;
  margin-left: 29%;
}