/* div that contain text area and button (MainTours*/

@media (max-width: 500px) {
  #dotsIcon {
    grid-column: 1;
    grid-row: 2;
    width: 10%;
    height: 10%;
    display: none;
  }

  .guide-img {
    max-width: 14%;
    height: auto;
    clip-path: circle(48% at center);
  }
  .guide-greating {
    font-size: 8px;
    width: 80%;
    text-align: center;
  }
  .cloud-zone {
    margin-top: -3%;
  }
  .cloud-zone li {
    font-size: 12.5px;
  }
  .img-place{
    display: none;
  }
  .chat-zone {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    width: 80%;
    margin-top: 8%;
    margin-right: 0%;
  }
  .placeName {
    font-size: 30px;
    width: 81%;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 1;
    margin-top: 0%;
   }
  .aiInteractions {
    grid-column: 1 / 4;
    grid-row: 4;
    width: 90%;
    margin-top: 3%;
  }
  .aiInteractions textarea {
    width: 88%;
    margin-left: 1%;
    height: 40%;
    margin-top: 3%;
  }
  .btn-sendMsj {
    height: 40%;
  }
  .greating-zone {
    margin-top: 7%;
  }
  .verticaLine{
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  /*tablet*/
  #dotsIcon {
    width: 10%;
    height: 10%;
    display: none;
  }
  .cloud-zone {
    margin-top: 2%;
  }
  .guide-img {
    max-width: 14%;
    height: auto;
    clip-path: circle(48% at center);
  }
  .guide-greating {
    font-size: 12px;
    text-align: center;
  }
  .img-place{
    display: none;
  }
  .chat-zone {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    width: 80%;
    margin-top: 10%;
    margin-right: 0%;
  }
  .placeName {
    font-size: 35px;
    width: 80%;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 1;
    margin-top: 0%;
   }
  .aiInteractions {
    grid-column: 1 / 4;
    grid-row: 4;
    width: 90%;
    margin-top: 7%;
  }
  .aiInteractions textarea {
    width: 88%;
    margin-left: 1%;
    height: 40%;
  }
  .btn-sendMsj {
    height: 50%;
  }
  .greating-zone {
    margin-top: 5%;
  }
  .verticaLine{
    display: none;
  }
}

@media (min-width: 1000px) {
  #dotsIcon {
    display: none;
  }

  .nav-mobile {
    width: 100%;
    height: 15vh;
  }
  .nav-mobile a {
    font-weight: 700;
    font-size: 30px;
  }
  .placeName {
    font-size: 52px;
    width: 80%;
    justify-content: center;
    margin-right: 2%;
    grid-column: 1;
    grid-row: 4;
    margin-top: -5%;
   }
   .guide-img{
    max-width: 14%;
    height: auto;
    clip-path: circle(48% at center);
  }
  .guide-greating {
    font-size: 17px;
  }
  .cloud-zone {
    margin-top: 1%;
  }
  .chat-zone {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    width: 90%;
    margin-top: 10%;
    margin-right: 3%;
  }
  .aiInteractions {
    grid-column: 2 / 4;
    grid-row: 4;
    width: 90%;
    margin-top: 12%;
  }
  .aiInteractions textarea {
    width: 95%;
    margin-left: -6%;
    height: 75%;
  }
  .btn-sendMsj {
    height: 56%;
  }
  .greating-zone {
    margin-top: -2%;
  }
  .verticaLine {
    grid-column: 1;
    grid-row: 2/4;
    width: 2px;
    background-color: #F56960;
    height: 129%;
    margin-left: 96%;
    margin-top: 20%;
  }

  }
/* grid general*/
.mainDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 300px 300px 300px;
  justify-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.mainContainer {
 background-color: #FFEEDD;
}
/* nav*/
.chat-header {
  height: 100%;
  width: 100%;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  background-size: cover;
  align-items: stretch;
  justify-content: space-around;
}
/*greating-zone*/
.greating-zone {
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greating-zone hr {
  border: none;
  height: 0.7%;
  background-color: #F56960;
  width: 80%;
}
.guide-greating {
  font-weight: 500;
  margin-top: 2%;
}
/* sobre chat zone*/
#infOnPC{
  grid-column: 1;
  grid-row:  2/3;
}
.img-place{
  width: 90%;
  margin-left: 4%;
  border-radius: 5%;
  margin-top: 20%;
}
#guide-img-chat{
  height: auto;
}

.descrip-IndividualChat{
  grid-column: 1;
  grid-row: 3 / 4;
  margin-top: 28%;
}


.aiInteractions textarea {
  resize: vertical;
  align-items: end;
  background-color: #D9D9D9;
  border: none;
  border-radius: 5%;
  padding: 1%;
}

.aiInteractions textarea::placeholder {
  color: #999;
}

.btn-sendMsj {
  background-color: #ffffff;
  width: 6%;
  border: none;
  margin-left: 1.5%;
}

.btn-sendMsj img {
  width: 100%;
  height: 100%;
  background-color: #FFEEDD;
}
/* div that contain cloud zone (MainTours*/
.cloud-zone {
  grid-row: 2;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: inherit;
  justify-items: center;
  width: 68%;
  height: 100%;
}

.cloud-zone li {
  background-color: #0791BE;
  height: 7%;
  padding: 6%;
  width: 75%;
  clip-path: ellipse(50% 91% at 50% 50%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
/* div that contain chat zone (MainTours*/
.chat-zone {
  min-width: 250px;
  min-height: 83%;
  height: auto;
  background-color: #86AFEC;
  border-radius: 5px;
  padding: 4%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 18px;
  scrollbar-width: thin; 
  scrollbar-color: #4467a059 #0f375a3d;
}

.enterResponse {
  height: auto;
  text-align: justify;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 30%;
  min-width: fit-content;
  background-color: #F56960;
  min-height: fit-content;
  padding: 1%;
  border-radius: 19px;
  align-self: self-start;
  color: #fff;
  align-items: center;
  margin-right: 45%;
  margin-bottom: 1%;
}

.enterMessage {
  height: auto;
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  background-color: #FFFFFF;
  min-height: fit-content;
  padding: 1%;
  border-radius: 19px;
  align-self: self-end;
  color: #F56960;
  margin: 1%;
  margin-left: 29%;
}

/* Imagenes de Group chat*/
.image-guides-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 40%;
  justify-items: center;
  margin-left: -23%;
}

.img-guides {
  max-width: 185px;
  height: auto;
  clip-path: circle(48% at center);
  margin-top: 11%;
  overflow: hidden;
  margin-left: 32%;
  margin-bottom: 15%;
}

.name-guides{
  text-transform: uppercase;
  margin-top: -3%;
  margin-left: 36%;
  color: #F56960;
  font-weight: 700;
}
#puntGuide {
  grid-column: 1;
  grid-row: 1;
}
#puntNameGuide {
  grid-column: 1;
  grid-row: 1;
}
#sanJGuide{
  grid-column: 2;
  grid-row: 1;
}
#sanjNameGuide{
  grid-column: 2;
  grid-row: 1;
}
#alajGuide {
  grid-column: 1;
  grid-row: 2;
}
#alajNameGuide{
  grid-column: 1;
  grid-row: 2;
}
#cartagGuide{
  grid-column: 2;
  grid-row: 2;
}
#cartNameGuide{
  grid-column: 2;
  grid-row: 2;
}
#guanaGuide{
  grid-column: 1;
  grid-row: 3;
}
#guanaNameGuide{
  grid-column: 1;
  grid-row: 3;
}
#limGuide{
  grid-column: 2;
  grid-row: 3;
}
#limonNameGuide{
  grid-column: 2;
  grid-row: 3;
}
.groupChatGreeting{
  font-size: 55px;
  text-align: center;
  margin-bottom: -12%;
  margin-top: 2%;
  color: #ab5aa1;
}
