@import url('../assets/chats.css');
@import url('../assets/header.css');
@import url('../assets/computeZone.css');
@import url('../assets/filterZone.css');
@import url('../assets/footer.css');
@import url('../assets/renderItem.css');

/* 
text
tittle
*/
* {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  margin: 50px;
  margin-left: 100px;
}
a{
  text-decoration: none;
  color: white;
  margin: 20px;
} 
button {
  background-color: #F56960;
}

main{
  width: auto;
}

/* body*/
body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.91);
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto;
  margin-top: 5%;
  border-radius: 44px;
  padding: 20px;
  width: 60%;
  height: 60%;
  box-shadow: 6px 7px 10px #f569606b;
}
.close {/* X para cerrar el modal */
  color: #0791BE;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
  margin-right: 1%;
  transform: translate(-2px, -110px);
}
.close:hover,
.close:focus {
  color: #F56960;
  text-decoration: none;
  cursor: pointer;
}
.modal-content #name {
  color: #000000;
  padding: 1%;
  background-color: #D9D9D9;
  border: none;
  border-radius: 3px;
  width: 300px;
  text-align: center;
}
.modal-content #apikey {
  color: #000000;
  padding: 1%;
  background-color: #D9D9D9;
  border: none;
  border-radius: 3px;
  width: 300px;
  text-align: center;
}
.modal-content button {
  color: #fff;
  background-color: #0791BE;
  border: none;
  width: 100px;
  padding: 0.6%;
  border-radius: 3px;
}
.checkApi {
  margin-top: -3.5vh;
  margin-left: 220px;
  height: 40px;
}

/* media query*/
@media (max-width: 785px) { /*phone*/
  .modal-content{
    width: 85%;
  }
  a{
    font-size: 16px;
    margin: 8px;
  }
  h2 {
    margin: 20px;
    margin-left: 80px;
  }
  .text-aventura h1 {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 43px;
    font-weight: 500;
    color: #101F46;
    text-shadow: 0px 0 #536899, 0px 0px 0 #536899, 0px 0px 0 #536899, 0px 0px 0 #536899;
    border: none;
    margin-top: 0;
  }
  .p-text {
    width: 100%;
    text-align: center;
    font-size: 19px;
  }
}
@media (min-width: 785px) and (max-width: 1000px) { /*tablet*/
  header {
    height: 75vh;
    background-position: initial;
    background-size: contain;
  }
  .nav-zone{
    height: 10vh;
    justify-content: center;
  }
  h1{
    font-size: 70px;
  }
  .filter-zone{
    height: 15vh;
  }
  .divName dd {
    width: 42%;
    height: 7vh;
    padding-left: 20px;
  }
  .imagine-cutted {
    width: 45vh;
    height: 39vh;
    float: right;
    clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .card {
    margin: 10px;
    min-width:785px;
    width: 90%;
    height: 39vh;
    overflow: hidden;
  }
  .divDescription dd {
    width: 42%;
    height: 14.85vh;
    padding-left: 16px;
  }
  #btnInfo {
    height: 5.6vh;
    width: 23vh;
    margin-right: -34px;
    text-align: left;
    padding-left: 4vh;
  }
  .btnChat {
    height: 7vh;
    width: 23vh;
    text-align: center;
  }
  .divPrecio dt {
    align-items: center;
    width: 42%;
    height: 5.3vh;
    padding-left: 16px;
  }
  footer {
    height: 35vh;
  }
  .zone-infoot{
    padding-left: 10%;
  }
  .infoot{
    width: 30%;
  }
  #search-header, .btn-header, #infoot2{
    display: none;
  }
  .foot{
    height: 80px;
  }
  .foot1, .foot2{
    font-size: 15px;
  }
  .text-aventura h1 {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 43px;
    font-weight: 500;
    color: #101F46;
    text-shadow: 0px 0 #536899, 0px 0px 0 #536899, 0px 0px 0 #536899, 0px 0px 0 #536899;
    border: none;
    margin-top: 0;
  }
  .compute-box img {
    width: 16vh;
    height: 16vh;
  }
  .compute-box {
    padding: 2vh;
    width: 24vh;
    height: 30vh;
  }
}
@media (min-width: 1000px) and (max-width: 3000px) {/*laptop*/
  .imagine-cutted {
    width: 45vh;
    height: 40vh;
    float: right;
    clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .card {
    margin-bottom: 10px;
    width: 48%;
    height: 40vh;
    min-width: 770px;
  }
  .divDescription dd {
    width: 44%;
    height: 12.3vh;
    padding-left: 16px;
  }
  #btnInfo {
    height: 5.5vh;
    width: 24%;
    margin-right: -32px;
    text-align: left;
    padding-left: 2vh;
  }
  .btnChat {
    padding-left: 10vh;
    text-align: center;
    padding-top: 1vh;
  }
  footer {
    height: 50vh;
  }
  .foot{
    height: 100px;
  }
  .text-aventura h1 {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 43px;
    font-weight: 500;
    color: #101F46;
    text-shadow: 0px 0 #536899, 0px 0px 0 #536899, 0px 0px 0 #536899, 0px 0px 0 #536899;
    border: none;
    margin-top: 0;
  }
  .compute-box img {
    width: 20vh;
    height: 20vh;
  }
  .compute-box {
    padding: 4vh;
    width: 28vh;
    height: 30vh;
  }
  .divPrecio dt{
    align-items: center;
  }
}
